<!DOCTYPE html>
<html>
 <head>
 <title>
 Lesson 2 - Practice
 </title>
 <meta charset="utf-8" />
 <script src="../../bower_components/angular/angular.js"></script>
 <script src="../../js/lesson2directive_1.js"></script>
 </head>
 <body>
 <h1>
 Lesson 2 - Practice 7 - Directive
 </h1>
 <div ng-app="myApp" ng-controller="myCtrl">
 <p>Use directives ng-model, ng-disabled, ng-show and ng-click</p>
 Name: <input ng-model="name">
 <button type="button" ng-click="showname()" ngdisabled="!name">Submit</button>

 <div ng-show=mostrar>
 <p>Hi: {{name}}
 </div>
 </div>
 </body>
</html>